


<div class="footer">
	<p id="a">&#169 Kaljaa, Dew-Boms, L.L.C. <span>Contact: dew.boms.llc@gmail.com</span> | <%= link_to "Contract-Freelance Work", contact_path %></p>
	<p id="c">Site Designed and Built By Yours Truly, Ryan Flynn | Photo Credit: labutle.wordpress</p>
	<p id="c">Site Built with Ruby on Rails, JavaScript/Jquery, HTML5, and CSS3</p>
	<p id="b">All content within this document belongs to the respective copyright owners and/or Ryan Flynn of Dew-Boms, L.L.C.</p>
	<!--<p id="b">Content may not be reproduced or distributed without written consent of owner</p>-->
</div>
