
<div id= "homepage_background_2">

	<div class= "main_page">

		<%= render "header" %>

		<div class= "page_background">
		</div>

		<div class= "page">
			<h1 class="page_title" id="page_title_bio">Biography:</h1>
	
			<img src="/assets/bio_pic_1.jpg" alt="bio picture" id="bio_pic">

			<div id="bio_body">
				<h2>Hello There!</h2>
				<p>I&#39m not one to bloat but since I have built this site to impress you, I have to show off at least a little.</p>
				<p>I went to Virginia Tech doubling in Economics and HTM (Hospitality Tourism Management). I have always had a creative, entrepreneurial spirit so while there I started my own web venture, Kaljaa.  Through that, I have become very good at web development and programming.</p>
				<P>I'm not your stereotypical programmer. I started with a very heavy business background and then went into programming.  I went from trying to communicate business/web development ideas to programmers into programming myself. I now do both.  I understand the communication barrier between the programmer's world and the other end. This makes me a very good communicator.  I can take a person's idea, understand what they are trying to accomplish business wise, fill in the blanks, and translate that idea to the web.</p>
				<p>Progressive ideas, the competition, and science of successful business excite me and is one of my passions.  When it comes down to it, whatever it is, I will deliver.</p>
			</div>
	
		</div>


	</div>

	<%= render "footer" %>

</div>
