<div id= "homepage_background_2">

	<div class= "main_page">

		<%= render "header" %>

		<div class= "page_background">
		</div>

		<div class= "page">

			<h1 id="javascript_title">HTML5/<br>CSS3:</h1>
			
			<div class="javascript_images">
				<div id="vimeo">
					<iframe src="http://player.vimeo.com/video/41444518" width="525px" height="295px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen ></iframe>
				</div>

				<div class="css3">
					<p>CSS3</p>
				</div>

				<div id="html_5">
					<img src="/assets/HTML5_Logo_512.png" />
				</div>
			</div>
	
			<div class="javascript_body">
				<p>I am very comfortable with HTML and CSS.  I am also very comfortable with the new attributes, elements, storage, etc. of HTML 5 and the new features of CSS3 including browser capabilities.  I should have no problem completing any type of project dealing with HTML5/CSS3.  </p>
				<p>The only problem I could see me having is if the requirements are teetering on the “not possible” or it's something that the programming world has never heard of, : ).  Even with that, I doubt anything that is thrown at me will not fall into that category so I should have no problem completing the project.</p>
				<P>I am also working on a App and mobile version for my web venture, Kaljaa, so I am familiar with the mobile aspects of web development with HTML5/CSS3.  I plan to have a mobile version of this site your currently on as soon as I find time.</p>
			</div>
	
		</div>


	</div>

	<%= render "footer" %>

</div>
