
<div id= "homepage_background_2">

	<div class= "main_page_rails">

		<%= render "header" %>

		<div class= "page_background_rails">
		</div>

		<div class= "page_rails">
				<h1 class="page_title">Ruby/<br>Ruby on Rails:</h1>
			
			<div class="page_block_right" id="page_block_right">

				<img id="brewery_about" src="/assets/Breweryabout_small.jpg" />

				<img id="kaljaa_logo" src="/assets/kaljaa_logo_2.jpg" />

				<img id="kaljaa_login" src="/assets/kaljaauserlogin_small.jpg" />


				<img id="kaljaa_media" src="/assets/kaljaamedia_small.jpg" />


				<div class="tech">
					<p>Some of the features of the site<br> built in Rails:</p>
					<ul>
						<li>Blogging</li>
						<li>Login/Log Out/Validations</li>
						<li>News feed system</li>
						<li>Friend/Relationship system</li>
						<li>Rating system</li>
						<li>Trackers</li>
						<li>Information centrals</li>
						<li>Messaging system</li>
						<li>Calendar/Events system</li>
						<li>Settings</li>
						<li>Following and microposts</li>
						<li>Photos/Albums</li>
						<li>Reviews of products</li>
						<li>Marketing data</li>
						<li>Comments</li>
						<li>And many more</li>
						<li></li>
					</ul>
				</div>				

			</div>
	
			<div class="page_block_left" id="page_block_right">
				<p>Out of my three concentrations, I will say that Ruby on Rails is at the top in terms of skills and ability. My personal web venture, Kaljaa (<%= link_to "Learn More".html_safe, extra_path %>), is a type of social network designed for the entire beer industry. Kaljaa is a fairly large and complex site that I'm building in the Ruby on Rails framework.  I'm building the site with the intent (and the hope) to host thousands of users a day.</p>
				<p>After the initial build/beta release of Kaljaa and now my rebuild, which is nearing beta release, I have become very comfortable with Ruby on Rails.  I have also grown to really like Ruby on Rails. A little hesitant at first in my choice to use Rails, there was a little to much “magic” when programming with it for me.  That didn't last very long and now I'll say Rails is one of the best MVC you can use.</p>
				<p>I am not a expert in Ruby on Rails but I could likely complete most any project involving Ruby on Rails web development.</p>
				<p>***On the right, I have displayed screen shots from the original beta and I also listed some of the features and systems that I'm building into Kaljaa with Ruby on Rails. </p>
				<p>***I have a Github account that I use for development so if there is a need to see my source code (which may be a little messing since I'm still in the middle of building) I can give you access.</p>
				<p>***I also have put up what has been completed so far for you to play around on (KaljaaDev.dew-boms.com).  I disabled the creating a new profile but send me a email and I will give you guest account.  Just remember that the site is still under heavy construction so no CSS styling has been done so its very ugly. Any CSS style that you do see are left overs from the first build/release and are there to keep my spirits up by not having a desolate looking screen when building.</p>
				<p>Also, many features are either not working/disabled, not built yet, kind of working, actually working, and one thing for sure, all of them need polish.  Also, the version you are on is most likely old and progress has been made since that version.  Bascially, be nice, :-).</p>
			</div>
		</div>


	</div>

	<%= render "footer" %>

</div>
