<div id= "homepage_background_2">

	<div class= "main_page_resume">

		<%= render "header" %>

		<div class= "page_background_resume">
		</div>

		<div class= "page_resume">
			<h1 class="page_title">Resume:</h1>
					<div class="resume">
						<p><h4>TECHNICAL SKILLS&#58 </h4></p>
							<div class= "job_body">
								<ul>
									<li>Languages: Ruby on Rails, Javascript/AJAX, jQuery (mobile), MySql, HTML5, and CSS3</li>
									<li>Full Stack, RESTful, RSPec, Capybara, Cucumber testing(Rails), OOP (Object Oriented Programming), frameworks, and MVC (Model View Controller)</li>
									<li> Linux, Unix, Windows, and Github for development</li>
									<li>Visio, Word, PowerPoint, Excel, SQL, Publisher, Access, and Adobe products such as Photoshop.</li>
									<li>Extras: Varying experience in Drupal, WordPress, and PHP</li>
								</ul>
							</div>
						<p><h4>EDUCATION</h4></p>
						<div class="resume_indent">
							<h5>Virginia Tech</h5>
							<ul class="no_dots">
								<li>Bachelor of Science</li>
								<li>Hospitality and Tourism Management</li>
								<li>Economics</li>
							</ul>
							<p>December 2009 <br>
							Blacksburg&#44 VA</p>
						</div>
						<p><h4>EXPERIENCE</h4></p>
						<p id="contract_exp">(Current or previous minor contract jobs available on request)</p>
						<div class="job_title">
							<p><b>Kaljaa.com, Dew-Boms L.L.C.<br>
							Founder&#47C.E.O.&#47Lead Developer &#45 Personal Entrepreneur Venture</b><br>
							Denver, CO<br>
							October 2009&#45present</p>
						</div>
						<div class="job_body">
							<ul>
								<li>Kaljaa is a social network currently being developed that is designed specifically for the Beer industry by utilizing B2B, B2C, and C2C relations</li>
								<li>Kaljaa was temporarily launched in a very successful and well received clinical/beta trial. During that trial, Kaljaa had hundreds of users join that included people from all parts of the industry such as beer drinkers, breweries, beer distributors, restaurants, and critics.</li>
								<li>Kaljaa is mostly built with Ruby on Rails, JavaScript/AJAX, jQuery, HTML(5), and CSS(3).</li>
								<li>Features of Kaljaa that have been built using Ruby on Rails, JavaScript/AJAX, jQuery, MySql, HTML(5), and CSS(3)</li>
								<ul id="features">
									<li>Blogging</li>
									<li>Login/Log Out/Validations</li>
									<li>News Feed System</li>
									<li>Friend/Relationship System</li>
									<li>Rating System</li>
									<li>Trackers</li>
									<li>Information Centrals</li>
									<li>Messaging System</li>
									<li>Calendar/Events System</li>
									<li>Settings</li>
									<li>Following/Micro-posts</li>
									<li>Photos/Albums</li>
									<li>Reviews</li>
									<li>Marketing Data</li>
									<li>Comments</li>
									<li>And many more</li>
								</ul>
								<li>Currently building a mobile version and app for Kaljaa with jQuery mobile and AJAX.</li>
								<li>Successfully recruited a development team to program the site.  The development team (not including myself) has fluxed anywhere from 3 to 7 programmers pending on what kind of temp programmers we have.  At the core there are 3 permanent programmers that are developing the site. ***Currently, due to life right now, I am doing the rebuild mostly by myself and my core programmers chime in when they can.</li>
								<li>Completed a very thorough and in-depth business plan which includes the executive summary, information on the company itself, information on the industry, market analysis, design, competitive analysis, marketing plan, management plan, operating plan, financial plan, and conclusion summarizing the future plan and expectations of the business.</li>
								<li>Developed, designed, and wrote Kaljaa.com’s entire design document consisting of several hundreds of pages that describe the entire website and displays the information in such a way to make future expansion of Kaljaa fluid and productive.  The design document provides detail of the website’s high level design, low level design, database schema, database relations, wire frame designs, graphic designs, description, objectives, goals for each page, link flow charts, link lists, etc.</li>
								<li>Web development methodologies such as Feature Driven Development (FDD), Scrum, and Agile have been researched to help improve our programming environment.</li>
								<li>Filled out and developed proposals and requests such as a request for information(RFI) and request for proposal(RFP) to acquire contract programmers, set up servers, purchase software, and other various services from businesses local and abroad.</li>
								<li>Acquired appropriate business licenses, such as a L.L.C.</li>
								<li>Acquired Federal Employer Identification Number (FEIN) and set up appropriate tax codes.</li>
								<li>Successfully contracted businesses local and abroad to produce and finish certain aspects of the website, with both sides being mutually pleased with the performance and communications.</li>
								<li>Applied for and successfully received a copyright© for the website through the United States Copyright Office, and currently working on a trademark.</li>
								<li>Successfully set up Business Bank accounts with PNC bank and established appropriate credit lines.  Successfully set up the ability for Dew-Boms, L.L.C. to accept credit cards through First Data Global Gateway API in junction with PNC.</li>
								<li>Initiated, developed, and maintained professional relationships with managers, owners, and employees of breweries, The Brewers Association, Silicon Valley Web Hosting(now NephoScale), suppliers, and many other important business contacts.</li>
								<li>Used Adobe products such as Photoshop and Microsoft Visio to develop and design Kaljaa.com</li>
							</ul>
						</div>
						<div class="job_title">
							<p><b>US Department of Agriculture, Natural Resources Conservation Service, National Finance Center, National Science Foundation, and Departmental Management<br>
							Federal HR Assistant/Specialist at YRCI</b><br>
							Fairfax, VA<br>
							November 2010&#45August 2012</p>
						</div>
						<div class="job_body">
							<ul>
								<li>Identify veteran&#39s preference for applicants applying to U.S. federal jobs.</li>
								<li>Determine non-competitive and competitive eligibility for applicants applying for a job.</li>
								<li>Create applicant logs in excel spreadsheets that are connected to YRCI database</li>
								<li>Complete draft recruits with Job Analysis, Assessment Questionnaire and Vacancy Announcement for review and approval.</li>
								<li>Use USA Staffing to post vacancy announcements for NFC and to rate, review, and qualify candidates for a vacancy posting.</li>
								<li>Use USAJobs to access applicant database to find jobs, people, update statuses, locate resumes, acquire resumes.</li>
								<li>Experience viewing applications and submitting Certifications on QuickHire.</li>
								<li>Log staffing and classification requests in multiple secure databases with title of the job, its series, rating, organization, contacts and determining what action is requested.  Personally convert and add the PD, job analysis, crediting plan, etc. to the request log.</li>
								<li>Knowledge of how to examine and acquire necessary information to achieve objectives for recruitment, staffing, and classification purposes from documents such as the SF-52, DD214, SF-15, SF-50, Schedule A, VA letters, college transcripts, performance appraisals, ICTAP, Position Descriptions, Crediting Plans (CP&#39s), KSA&#39s (Knowledge, Skills, Abilities), Job Analysis&#39s (JA&#39s)</li>
								<li>Assist in determining quality category rating by using a crediting plan and assessing the applicants to determine the most qualified for a specific job</li>
								<li>Assist in determining if applicant meet minimal qualifications and minimal GS level/pay for a job in a given location of the country.</li>
								<li>Experience in reviewing applicants online on USAJobs and QuickHire in both the DE (Delegated Examining) and MP (Merit Promotion). Knowledge of how to determining Veteran&#39s Preference (TP, CP, CPS, and XP) through required government documentation.</li>
								<li>Experience in putting together a Certificate of Eligible&#39s to send to the specified agency.</li>
								<li>When reviewing applications and other sensitive information, I keep strict adherence to the Privacy Act and Freedom of Information Act of the applicant and any sensitive information of the document.</li>
								<li>Under OPM guidelines for Federal Agency Examining Offices, I have knowledge of how to identify the job and its assessments, recruit and announce the job, accept and review applications, assess applicants, certify eligible&#39s, reporting and accountability responsibilities you have as a examiner.</li>
								<li>Successfully completed the Delegated Examining Operations training offered by the Office of Personnel Management (OPM) at the National Science foundation June 23, 2011.</li>
								<li>Use Adobe PDF to convert and encrypt applications for security and privacy reasons.</li>
								<li>Use PDF Convert Professional to convert documents into a variety of other formats but mostly Microsoft word.  After converting those documents, I proceed to fix the grammatical and format mistakes in the document.</li>
								<li>Excellent communication and interpersonal skills in and out of the office.</li>
								<li>Very proficient in Microsoft Word, Visio, Excel, PowerPoint, Publisher, and Access.</li>
								<li>Very computer literate</li>
								<li>Typing Speed: 49 words per minute</li>
							</ul>
						</div>
						<div class="job_title">
							<p><b>Vail Management Company<br>
							Lift Operator and Guest Services</b><br>
							Breckenridge, CO<br>
							December&#45January 2009</p>
						</div>
						<div class="job_body">
							<ul>
								<li>Internal and external customer service including day to day problem solving and assisting customers and helping them to have a positive experience</li>
								<li>Managed customer expectations while attending to guests needs and aided with maintenance of the lifts.</li>
								<li>Day to day operations including lift maintenance, re-supplying areas of the mountain, and problem solving unexpected issues.</li>
							<ul>
						</div>
						<div class="job_title">
							<p><b>Flynn Video Services<br>
							Marketer/Media Technician</b><br>
							Manassas, VA<br>
							May&#45August 2007</p>
						</div>
						<div class="job_body">
							<ul>
								<li>Internal and external customer service including day to day problem solving and assisting customers and helping them to have a positive experience</li>
								<li>Managed customer expectations while attending to guests needs and aided with maintenance of the lifts.</li>
								<li>Day to day operations including lift maintenance, re-supplying areas of the mountain, and problem solving unexpected issues.</li>
							</ul>
						</div>
						<div class="job_title">
							<p><b>Other&#58 Home Depot, Carrabas Italian Bar and Grill, Lakeridge Nursery, Broad Run Golf Course</b><p>
						</div>
						<p><h4>CERTIFICATIONS & ADDITIONAL EDUCATION&#58</h4></p>
						<div class="resume_indent">
							<ul>
								<li>DEU Certified June 2011</li>
								<li>Graduate School, Distance Education:</li>
								<ul class="no_dots">
									<li>Basic Staffing and Placement (40 hours/4.0 CEU)	</li>
									<li>Denver, CO</li>
									<li>July 2011</li>
								</ul>
							</ul>
						</div>
					</div>
				</div>

	</div>

	<%= render "footer" %>

</div>
