<!DOCTYPE html>
<html>
<head>
  <title>Ryan Flynn</title>
	<LINK REL="SHORTCUT ICON" href="/assets/tab_pic.png">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div id="main">
<%= yield %>
	</div>
</body>
</html>
